---
import {getRecipes} from '../utils/db';
import Layout from '../layouts/Layout.astro';
import type {Recipe} from '../utils/db';
import RecipeIsland from '../components/RecipeIsland';
let recipes: Recipe[] = await getRecipes();
---

<Layout>
  <div class="place-content-center">
    <header>
      <h1 class="text-center">Christmas Cookie Recipes</h1>
    </header>
    
    <RecipeIsland recipes={recipes} client:load/>
    </div>
</Layout>

<style>
  ul {
    @apply ml-8;
  }
</style>


