---
---

<footer class="text-center">
  <p>Built by <a href="https://thejasontorres.com/#" target="_blank" rel="noopener noreferrer">Jason Torres</a>, <a href="https://ryanfurrer.com/" target="_blank" rel="noopener noreferrer">Ryan Furrer</a>, and <a href="https://www.chrisnowicki.io/" target="_blank" rel="noopener noreferrer">Chris Nowicki</a> &copy; 2024</p>
</footer>

<style>
  p {
    @apply text-foreground text-sm;
  }
    a {
        @apply underline underline-offset-4;
    }
</style>
